<!DOCTYPE html>
<html>

<head>
  <meta charaset="utf-8">
  <title>Vue.js App</title>
  <style>
    body{background-color:#222;
      color:#ddd}
  </style>
</head>

<body>
  <h2>这是个使用了Vue的测试页面</h2>
  <div id="app">
    <p>消息：{{message}}</p>
    <p>价格：{{price}}</p>
    <p>明细表：{{details}}</p>
    <p>合计：{{total}}</p>
    <p> x：{{x}} </x:>, y：{{y}} </p>
    <p> x+y={{sum(x,y)}} </p>
    <p> x*y={{mult(x,y)}} </p>
    <p> 衬衫单价：{{shirtCost}} 元，数量：{{shirtNum}}, 金额：{{shirtPay}} 元 </p>
    <p> 帽子单价：{{hatCost}} 元，数量：{{hatNum}}，金额：{{hatPay}} 元 </p>
    <h2> 用vue模板语言：用v-html属性的元素替代双花括号占位符绑定数据</h2>
    <div v-html="message1"></div>
    <div v-html="price1"></div>
    <div v-html="details1"></div>
    <div v-html="total1"></div>
    <h2> 声明式渲染：动态填充v-bind属性的元素</h2>
    <img v-bind:src="imageSource">
    <img v-bind:src="imgSrc" v-bind:alt="imgAlt" v-bind:title="imgTitle">
    <h2> 条件渲染 </h2>
    <div v-if="isVisible">条件控制是否显示的文字</div>
    <div v-if="isSelected">方法控制逻辑值</div>

    <table>
      <tr v-for="person in people">
        <td>{{ person.name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.balance }}</td>
        <td>{{ person.registered }}</td>
      </tr>
    </table>
  </div>

  <script src="https://unpkg.com/vue"></script>

  <script type="text/javascript">
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello!哈喽！',
        message1: '<p>消息：Hello!哈喽！</p>',
        price: '1800, 24, 34',
        price1: '<p>价格: 1800, 24, 34 </p>',
        details: ['硬盘', '软盘', 'U盘'],
        details1: '<p>明细表： [硬盘, 软盘, U盘] </p>',
        x: 50,
        y: 60,
        shirtCost: 30,
        shirtNum: 40,
        hatCost: 50,
        hatNum: 30,
        imageSource: 'http://via.placeholder.com/350x150',
        imgSrc: 'https://cn.vuejs.org/images/logo.png',
        imgAlt: 'vue-logo',
        imgTitle: '这是你指定的title，主人',
        isVisible: true,
        selected: false,
        people: [{
          "index": 0,
          "guid": "49c9d9f7-af12-4ded-9357-44993eea0f7a",
          "isActive": true,
          "balance": 2570.32,
          "name": "Morales Ochoa",
          "email": "moralesochoa@savvy.com",
          "registered": "2016-02-22T10:11:31",
          "friends": [{
            "id": 3
          }]
        }, {
          "index": 1,
          "guid": "530855cb-63f8-4272-929d-cf544b1a056d",
          "isActive": true,
          "balance": 1892.1,
          "name": "Tyson Beard",
          "email": "tysonbeard@savvy.com",
          "registered": "2016-01-27T01:06:57",
          "friends": [{
            "id": 1
          }]
        }, {
          "index": 2,
          "guid": "88f9b85b-c4b4-4a0c-813c-54e027fff67f",
          "isActive": false,
          "balance": 3423.69,
          "name": "Hawkins Gibbs",
          "email": "hawkinsgibbs@savvy.com",
          "registered": "2016-04-23T11:19:49",
          "friends": [{
            "id": 3
          }]
        }, {
          "index": 3,
          "guid": "35050ff6-51b7-48a4-951b-74f8f115cfcb",
          "isActive": true,
          "balance": 3277.41,
          "name": "Conley Boyle",
          "email": "conleyboyle@savvy.com",
          "registered": "2014-06-04T04:22:31",
          "friends": [{
            "id": 1
          }]
        }, {
          "index": 4,
          "guid": "f2c7f2f2-719b-4f8a-be5f-4e66538fbd2d",
          "isActive": true,
          "balance": 2180.15,
          "name": "Joy Mosley",
          "email": "joymosley@savvy.com",
          "registered": "2016-04-21T11:52:18",
          "friends": [{
            "id": 1
          }]
        }],

      },
      computed: {
        total() {
          return 1800 + 24 + 34;
        },
        total1() {
          return '<p>合计：' + (1800 + 24 + 34) + '</p>';
        },
        shirtPay() {
          //注意这里直接额你不引用数据需要this
          return this.shirtCost * this.shirtNum;
        },
        hatPay() {
          return this.hatCost * this.hatNum;
        }
      },
      methods: {
        sum(x, y) {
          //注意传参数据，非内部引用数据，则不需要 this
          return x + y;
        },
        mult(x, y) {
          return x * y;
        },
        isSelected() {
          return this.selected;
        }
      }
    });
  </script>
</body>

</html>